   
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>
<body style="font-family: 'Courier New', Courier, monospace;" >
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:transparent  !important;" >
    <a class="navbar-brand" href="#" style="color:white; font-size: x x-large">
      <img src="assets\Imagenes\aplicacion-movil.png" width="50" height="50" class="d-inline-block align-top" alt="">
      SYSCOMPILER 201905554
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <input #file class="hidden" type="file" id="upload-file" name="upload-file" accept=".txt,.sc" (change)="AbrirExplorador($event)">
          <button type="button" class="btn btn-outline-light" (click)="file.click()">Abrir</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-light" (click)=  'Save()'>Guardar</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-light">Nueva Pestaña</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-light">Cerrar Pestaña</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-light">Reporte AST</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-light">Gramáticas</button>
        </li>
      </ul>
    </div>
  </nav>
  <table>
    <tr>
      <td>
        <h1>EDITOR</h1>
      </td>
      <td>
        <h1>CONSOLA</h1>
      </td>
    </tr>
    <tr>
      <td>
        <div class="code-editor" #codeEditor></div>
      </td>
      <td>
        <textarea></textarea>
      </td>
    </tr>
  </table>
  
  <div style="display: flex; width: 100%; justify-content: center; padding-top: 15px;">
    <button  type="button" class="btn btn-secondary"
      (click)="ejecutar()">Ejecutar</button>
  </div>
</body>

</html>